body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Right align all numeric DataGrid cells */
.MuiDataGrid-cell--numeric {
  text-align: right !important;
}

/* Right align column header for numeric */
.MuiDataGrid-columnHeader--numeric .MuiDataGrid-columnHeaderTitle {
  text-align: right !important;
  width: 100%;
}
div#superset-container-a6bf66b1-8d5a-4782-97a3-96bec784dbcd>iframe{
  width:95% !important;
  height:670px !important;
}
.i-frame> iframe> main{
  padding:10px !important;
}